<div class="center jumbotron">
  <h1>Welcome to your online Dream Journal</h1>

  <h2>
    Improve dream recall by keeping a dream journal.  Sign up today!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
